<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body, html {
            margin: 0;
            background-color: black;
        }
        img {
            display: block;
            width: 100dvw;
            height: 100dvh;
            object-fit: contain;
            object-position: center;
        }
    </style>
</head>
<body>
    <img src="/stream/{{ cam_id }}"/>
</body>
</html>